Hi, <%= @user.email %>! <br> <br>
You've reserved a  <%= link_to 'book', book_url(@book.id, host: "localhost:3000") %>.



<h4>Book data: </h4>

Title: <%= @book.title %>
<br>
ISBN: <%= @book.isbn %>
